@import url(https://fonts.googleapis.com/css?family=Georgia);
.actionButton {
  background-color: black;
  border: 1px solid cyan;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  height: 3em;
  padding: 1em; }
  .actionButton:hover:not(.disabled) {
    background-color: #008b8b;
    cursor: pointer; }
  .actionButton:hover.disabled {
    background-color: #FF3030;
    cursor: not-allowed; }
  .actionButton.start {
    margin-right: 0.75em; }
  .actionButton.reset {
    margin-left: 0.75em; }
  .actionButton.disabled {
    cursor: unset;
    background-color: #333; }
  .actionButton.highlight {
    border: 1px solid #FF3030; }
