// dimensions
$navbar_height: 3.5em;
$categories_height: 5em;

// images
$loginBackground: "../../assets/images/login-background-min.png";

// colors
$green: #29C15F;

$gray_dark: #595959;
$gray_medium: #A09F9F;
$gray: #d3d3d3;
$gray_light: #e3e3e3;
$gray_very-light: #F9F9F9;

$blue: #1991DA;
$dark-blue: #207CBF;
