.Dices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  width: 100%; }
  .Dices .container .dice {
    background-color: white;
    color: black;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border-radius: 10px;
    border-color: white;
    text-align: center;
    vertical-align: center;
    margin-left: 0.25em;
    float: left;
    font-size: 2em; }
