.Home .lander {
  padding: 80px 0;
  text-align: center; }
  .Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600; }

.Home .home-navbar {
  background-color: #0285CA;
  margin-bottom: 0; }

.Home .appName, .Home .subtitle {
  color: white; }

.Home .appName {
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 0.05em;
  margin-right: 0.4em;
  text-decoration: none; }

.Home .subtitle {
  font-size: 0.75em;
  letter-spacing: 0.05em;
  text-transform: uppercase; }

.Home .Categories {
  width: 100%;
  display: flex;
  padding-left: 1em;
  position: relative; }
  .Home .Categories .folder, .Home .Categories .addFolder {
    cursor: pointer; }
  .Home .Categories .folder {
    background: url("../../images/folder_off.png") no-repeat center center fixed;
    margin: 2.5em 1.5em; }
    .Home .Categories .folder .name {
      color: grey;
      font-size: 1em;
      text-align: center; }
  .Home .Categories .addFolder {
    color: #0285CA;
    font-size: 0.7em;
    font-weight: 700;
    position: absolute;
    right: 1em;
    top: 0.2em; }
